<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.referazi.dao.ActionDao">

    <resultMap id="actionResultMap" type="com.referazi.models.Action">
        <id column="id" property="id" />
        <result column="action" property="action"/>
        <result column="points" property="points"/>
    </resultMap>

    <select id="getActions" resultMap="actionResultMap">
        select * from actionType
    </select>

    <select id="getActionById" resultMap="actionResultMap">
        select * from actionType where id=#{actionId}
    </select>

</mapper>
