<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.referazi.dao.HistoryDao">

    <resultMap id="historyResultMap" type="com.referazi.models.History">
        <id column="id" property="id" />
        <result column="sender_id" property="senderId" />
        <result column="conversation_id" property="conversationId" />
        <result column="message_text" property="message" />
        <result column="message_id" property="messageId" />
        <result column="read_status" property="readStatus"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="getMessageHistory" resultMap="historyResultMap">
        select sender_id, message_text, read_status, created_at, message_id from history where conversation_id=#{conversationId}
    </select>

    <insert id="insertMessageHistory" parameterType="com.referazi.models.History" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into history(sender_id, conversation_id, message_id, message_text, read_status, created_at)
            values(#{senderId},#{conversationId},#{messageId}, #{message}, #{readStatus}, CURRENT_TIMESTAMP())
    </insert>

    <select id="getHistoryMessageById" resultMap="historyResultMap">
        select sender_id, message_text, read_status, created_at from history where id=#{id}
    </select>

    <update id="markUnReadAsRead">
        update history set read_status=true, updated_at=CURRENT_TIMESTAMP() where conversation_id=#{conversationId} and read_status=false
    </update>

</mapper>
