<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="apis.mapper.SkillMapper">
    <resultMap id="SkillResultMap" type="apis.models.Skill">
        <id column="id" property="id" />
        <result column="user_id" property="userId"/>
        <result column="skill" property="skill" />
    </resultMap>
    <select id="getUserSkills" resultMap="SkillResultMap">
        select * from skill where user_id=#{userId}
    </select>
    <insert id="addUserSkill" parameterType="apis.models.Skill" useGeneratedKeys="true" keyProperty="id">
        insert into skill(user_id,skill) values(#{userId},#{skill})
    </insert>
</mapper>