<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.referazi.dao.TransactionDao">

    <resultMap id="transactionResultMap" type="com.referazi.models.Transaction">
        <id column="id" property="id"/>
        <result column="points" property="points"/>
        <result column="created_at" property="createdAt"/>
        <result column="type" property="type"/>
        <collection property="user" ofType="com.referazi.models.User">
            <id column="user_id" property="id"/>
            <result column="user_name" property="name"/>
        </collection>
        <collection property="thirdParty" ofType="com.referazi.models.User">
            <id column="third_party_id" property="id"/>
            <result column="third_party_name" property="name"/>
        </collection>
        <collection property="action" ofType="com.referazi.models.Action">
            <id column="action_id" property="id" />
            <result column="action_name" property="action"/>
        </collection>
    </resultMap>

    <select id="getTransactionsOfUser" resultMap="transactionResultMap">
        select t.id, t.created_at, t.type, u.id as user_id, u.user_name as user_name,
        tp.id as third_party_id, tp.user_name as third_party_name, t.points,
        a.id as action_id, a.action as action_name
        from transactions t
        inner join user u on t.user_id=u.id and (t.user_id = #{userId})
        left outer join user tp on t.third_party_id=tp.id
        inner join actionType a on t.action_id = a.id
    </select>

    <select id="getPointsOfUser" resultType="java.lang.Integer">
        select sum(CASE
        WHEN
        type='CREDIT' THEN points
        ELSE 0
        END)-
        sum(CASE
        WHEN
        type='DEBIT' THEN points
        ELSE 0
        END)
        from transactions where user_id=#{userId}
    </select>

    <insert id="insertTransaction" parameterType="com.referazi.models.Transaction" useGeneratedKeys="true"
            keyProperty="id">
        insert into transactions(user_id, third_party_id, points, action_id, type) values(#{userId}, #{thirdPartyId},
        (select points from actionType where id=#{actionId}), #{actionId}, #{type})
    </insert>

</mapper>
