<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.referazi.dao.UserSkillDao">
    <select id="getUserSkills" resultType="String">
        select skill from user_skills where user_id=#{userId} and profile_type=#{profileType}
    </select>
    <insert id="addUserSkill" parameterType="com.referazi.models.UserSkill">
        insert into user_skills(user_id, profile_type, skill) values(#{userId}, #{profileType}, #{skillName})
    </insert>
</mapper>