<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.referazi.dao.UserDao">
    <resultMap id="UserResultMap" type="com.referazi.models.User">
        <id column="id" property="id" />
        <result column="user_name" property="name" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="gender" property="gender" />
        <result column="phone" property="phone" />
        <result column="isSeeker" property="isSeeker" />
        <result column="isProvider" property="isProvider" />
        <result column="isBlogger" property="isBlogger" />
    </resultMap>
    <select id="findAllUsers" resultMap="UserResultMap">
        select id, user_name, email, gender, phone, isSeeker, isProvider, isBlogger from user
    </select>
    <select id="findUserById" resultMap="UserResultMap">
        select id, user_name, email, gender, phone, isSeeker, isProvider, isBlogger from user WHERE id=#{id}
    </select>
    <select id="findUserByEmail" resultMap="UserResultMap">
        select id, user_name, email, gender, phone, isSeeker, isProvider, isBlogger from user WHERE email=#{email}
    </select>
    <select id="getPassword" resultType="string">
        select password from user WHERE email=#{email}
    </select>
    <insert id="insertUser" parameterType="com.referazi.models.User" useGeneratedKeys="true" keyProperty="id">
        insert into user(user_name,email,password,gender,phone) values(#{name},#{email},#{password},#{gender},#{phone})
    </insert>
    <update id="updateSeekerStatus">
        update user set isSeeker = #{status} WHERE id = #{id}
    </update>
    <update id="updateProviderStatus">
        update user set isProvider = #{status} WHERE id = #{id}
    </update>
    <update id="updateBloggerStatus">
        update user set isBlogger = #{status} WHERE id = #{id}
    </update>
</mapper>